
body {
  font-family: 'Monoton', cursive;
}

#map {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 100%;
  height: 100%;
}

.side-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.8);
  box-shadow: 0px 0px 8px rgb(90, 90, 90);
  z-index: 1;
}

.side-panel table {
  width: 300px;
  margin-top: 20px;
}

.side-panel td {
  display: block;
  margin-bottom: 20px;
}

.member-icon {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
  color: rgb(50,205,50);  
  line-height: 80px;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  border-style: solid;
  border-width: 2px;
  border-radius: 800px;
  border-color: rgb(50,205,50);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  /* Slow down the hover effect */
  -webkit-transition: all 1s ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 1s ease;
}

/* Style the member icon text on hover */
.member-icon:hover {
  border-color: red;
  color: red;
}

/* Add a second circle to the memmber icon */ 
.member-icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  height: 70px;
  width: 70px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: rgb(50,205,50);
}

.member-icon:hover:after {
  border-color: red;
}

.coin-box {
  height: 25%;
  display: flex;
  justify-content: space-between;
}

.coin-box .coin {
  position: relative;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: red;
}

.coin-box .coin:hover {
  background-color: red;
}

/* Cat 4 Reunion */
.coin-box .coin:first-of-type {
  border-color: rgb(160, 130, 100);
  color: rgb(160, 130, 100);
  margin-left: 80px;
}

/* Cat 3 Reunion */
.coin-box .coin:nth-child(2) {
  border-color: rgb(120, 120, 120);
  color: rgb(120, 120, 120);
}

/* Cat 2 Reunion */
.coin-box .coin:last-of-type {
  border-color: rgb(66, 244, 232);
  color: rgb(160, 130, 100);
  margin-right: 80px;
}

/* Marker Styles */
.marker {
  width: 10px;
  height: 10px;
  background-color: #c50;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
}

.marker:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, .1);
  top: 25%;
  left: 25%;
  border-radius: 50%;
}

/* Cat 4 Reunion */
.four {
  background-color: gold;
  border-color: rgb(160, 130, 100);
}

/* Cat 3 Reunion */
.three {
  background-color: silver;
  border-color: rgb(120, 120, 120);
}

/* Cat 2 Reunion */
.two {
  background-color: rgb(190, 160, 130);
  border-color: rgb(160, 130, 100);
}
