
body {
  font-family: "HelveticaNeue", "Helvetica Neue", sans-serif;
  background-color: rgb(87, 87, 87);
}

body h1 {
  color: rgb(50,205,50);
  font-size: 70px;
  margin-top: 200px;
  text-align: center;
}

body h2 {
  color: rgb(255, 178, 5);
  text-align: center;
}

#map {
  left: 300px;
  width: calc(100% - 300px);
  height: 100%;
  border-radius: 0px 0px 20px 20px;
}

#map.full {
  left: 0px;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}

#map-container {
  position: absolute;
  top: 15px;
  left: 15px;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  box-shadow: 0px 0px 14px 14px rgb(50, 50, 50);
  border-radius: 20px;
}

@media only screen and (max-width: 500px) {

  #map-container {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }

}

.map-container-button {
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 2px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 4px;
  background-color: rgb(10, 10, 10);
  color: rgb(117, 117, 117);
}

.map-container-button:hover {
  color: white;
  background-color: rgb(27, 27, 27);
}

.map-container-close-button {
  position: absolute;
  text-decoration: none;
  top: 30px;
  left: 30px;
  z-index: 999;
  background-color: rgb(87, 87, 87);
  line-height: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.map-container-close-button:after {
  content: "x";
  color: rgb(20, 20, 20);
  text-align: center;
}

.map-container-close-button:hover {
  background-color: rgb(120, 120, 120);
}

.side-panel {
  font-family: 'Monoton', cursive;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  background-color: rgb(55, 55, 55);
  border-radius: 12px 0px 0px 12px;
  z-index: 1;
}

.hide {
  transform: translateX(-110%);
  transition: all .2s ease; /* our nice transition */
}

.side-panel table {
  width: 100%;
  height: 100%;
}

#panel-slider {
  position: absolute;
  left: 290px;
  top: 50%;
  height: 300px;
  width: 30px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#panel-slider div {
  position: absolute;
  height: 300px;
  left: 10px;
  width: 2px;
  background-color: rgba(87, 87, 87, 0.9);
  box-shadow: 0px 0px 8px 8px rgb(50, 50, 50);
}

#panel-slider div:hover {
  background-color: rgb(255, 40, 40);
}

#show-panel-button {
  position: absolute;
  left: 70px;
  top: 25px;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  line-height: 30px;
  color: rgb(51, 51, 51);
  text-align: center;
  background-color: white;
}

#show-panel-button:hover {
  background-color: rgb(200, 200, 200);
}


.member-icon {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  height: 80px;
  width: 80px;
  margin-top: 2%;
  margin-bottom: 2%;
  color: rgb(50,205,50);  
  line-height: 80px;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  border-style: solid;
  border-width: 2px;
  border-radius: 800px;
  border-color: rgb(50,205,50);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* Style the member icon text on hover */
.member-icon:hover {
  color: black;
  background-color: rgb(50,205,50);
}

/* Style the member icon text on selection */
.member-icon.selected {
  color: black;
  background-color: rgb(50,205,50);
}

/* Add a second circle to the memmber icon */ 
.member-icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  height: 70px;
  width: 70px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: rgb(50,205,50);
}

.coin-box {
  height: 25%;
  display: flex;
  justify-content: space-between;
}

.coin {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 0px;
  width: 30px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: red;
  cursor: pointer;
}

/* Cat 4 Reunion */
.four {
  border-color: rgb(255, 250, 0);
  color: rgb(255, 250, 0);
}

/* Cat 4 Reunion Hover */
.four:hover {
  background-color: rgb(255, 250, 0);
}

/* Cat 4 Reunion Selected */
.four.selected {
  background-color: rgb(255, 250, 0);
  color: black;
}

/* Cat 3 Reunion */
.three {
  border-color: rgb(244, 66, 206);
  color: rgb(244, 66, 206);
}

/* Cat 3 Reunion Hover */
.three:hover {
  background-color: rgb(244, 66, 206);
}

/* Cat 3 Reunion Selected */
.three.selected {
  background-color: rgb(244, 66, 206);
  color: black;
}

/* Cat 2 Reunion */
.two {
  border-color: rgb(66, 244, 232);
  color: rgb(66, 244, 232);
}

/* Cat 2 Reunion Hover */
.two:hover {
  background-color: rgb(66, 244, 232);
}

/* Cat 2 Reunion Selected */
.two.selected {
  background-color: rgb(66, 244, 232);
  color: black;
}

/* Align coins within coin-box. */
.coin-box .coin:first-of-type {
  margin-left: 80px;
}

.coin-box .coin:last-of-type {
  margin-right: 80px;
}

/* All coins should have black font on hover. */
.coin:hover {
  color: black;
}

/* Marker Styles */
.marker {
  position: absolute;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.marker > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.marker div.four {
  background-color: rgb(255, 250, 0);
}

.marker div.three {
  background-color: rgb(244, 66, 206);
}

.marker div.two {
  background-color: rgb(66, 244, 232);
}

.marker div.picked {
  width: 15px;
  height: 15px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-popup-content h2 {
  margin: 6px;
}

.mapboxgl-popup-content h3 {
  margin: 4px;
  color: rgb(87, 87, 87);
}

/* Category Description styles */
.category-descriptions {
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
}

.category-descriptions div {
  margin-right: 10px;
  font-weight: 600;
  font-size: 20px;
  color: rgb(47, 47, 47);
}

.category-descriptions h3 {
  font-size: 20px;
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 34px;
}

.category-descriptions h3:hover {
  border-color: rgb(87, 87, 87);
  border-radius: 20px;
  color: black;
}

.category-descriptions-div {
  display: block;
}

.category-descriptions div.coin.four {
  background-color: rgb(255, 250, 0);
}

.category-descriptions div.coin.three {
  background-color: rgb(244, 66, 206);
}

.category-descriptions div.coin.two {
  background-color: rgb(66, 244, 232);
}

#reunion-list {
  height: 300px;
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  overflow-y: auto;
}

@media only screen and (max-width: 900px) {

  #reunion-list {
    font-size: 15px;
  }

}

#reunion-list table {
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#reunion-list table tr {
  background-color: rgb(115, 115, 115);
}

#reunion-list table tr:hover{
  background-color: rgb(78, 78, 78);
}

#reunion-list table td:hover{
  box-shadow: inset 0 0 5px rgb(38, 38, 38);
}
